{
    "appName": "RealTimeCovid",
    "appPort" : "3000",
    "mode": "Development",
    "dbConfiguration": {
        "host"      : "real-time-covid-sql-server",
        "port"      : "5432",
        "user"      : "RealTimeCovidAppUser",
        "password"  : "RealTimeCovidAppUserSecret",
        "database"  : "RealTimeCovid"
    }
}