{
    "type": "postgres",
    "host": "real-time-covid-sql-server",
    "port": 5432,
    "username": "RealTimeCovidAppUser",
    "password": "RealTimeCovidAppUserSecret",
    "synchronize": false,
    "autoLoadEntities": true,
    "database": "RealTimeCovid",
    "entities": [
        "src/**/*.entity{.ts,.js}"
    ],
    "migrations": [
        "./src/database/migrations/**/*{.ts,.js}"
    ],
    "cli": {
        "migrationsDir": "./src/database/migrations"
    }
}